$colors: (
  "primary-color": $primary-color,
  "secondary-color": $secondary-color,
  "success-color": $success-color,
  "warning-color": $warning-color,
  "alert-color": $alert-color,
  "light-gray": $light-gray,
  "medium-gray": $medium-gray,
  "dark-gray": $dark-gray,
  "light-blue": $light-blue,
  "blue": $blue,
  "medium-blue": $medium-blue,
  "dark-blue": $dark-blue,
  "light-pink": $light-pink,
  "pink": $pink,
  "medium-pink": $medium-pink,
  "dark-pink": $dark-pink,
  "light-neon": $light-neon,
  "neon": $neon,
  "medium-neon": $medium-neon,
  "dark-neon": $dark-neon,
  "white": $white,
  "black": $black,
);

@each $color, $hex in $colors {
  .#{$color}-bg {
    background-color: $hex;
  }
  .#{$color}-color {
    color: $hex;
  }
}

/* Backgrounds */
