$light-neon: #EFFAE2;
$medium-neon: #B4DA1C;
$neon: $success-color;
$dark-neon: #106029;

$light-blue: #eeeaff;
$medium-blue: #3DA6EE;
$blue: $primary-color;
$dark-blue: #032850;

$light-pink: #F6E9F0;
$medium-pink: #EF809A;
$pink: $alert-color;
$dark-pink: #590A2F;
