$light-neon: #effae2;
$medium-neon: #b4da1c;
$neon: #e4f700;
$dark-neon: #106029;

$light-blue: #eeeaff;
$medium-blue: #3da6ee;
$blue: $primary-color;
$dark-blue: #032850;

$light-pink: #f6e9f0;
$medium-pink: #ef809a;
$pink: $alert-color;
$dark-pink: #590a2f;
